/** BASE STYLES **/
body {
  background-image: url("/img/bg-intro-mobile.png"); /* Why is this not working????? */
  background-color: hsl(0, 100%, 74%);
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.75em;
  width: 80%;
  margin: 10%;
  margin-top: 100px;
}

h2 {
  font-size: 1em;
  width: 90%;
  margin: 5%;
  font-weight: normal;
  padding-bottom: 25px;
}

#header {
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  width: 90%;
  margin: 5%;
  font-size: 16px;
  box-shadow: 10px grey;
}

#header p {
  font-size: 1em;
  width: 60%;
  margin-left: 20%;
  padding: 15px 0;
}

#header span {
  font-weight: normal;
}



/** FORM STYLES **/
#form-container {
  background-color: white;
  border-radius: 10px;
  color: hsl(249, 10%, 26%);
  width: 90%;
  margin: 5%;
  margin-bottom: 50px;

}

input {
  width: 80%;
  border-radius: 5px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  padding-left: 15px;
  border: 1px solid lightgray;
  font-weight: bold;
}

button {
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  border-radius: 5px;
  height: 40px;
  color: white;
  border: 0px;
  font-family: 'Poppins', sans-serif;
  width: 85%;
  margin: 15px 0px;
  font-weight: bold;
  letter-spacing: 1px;
}

#form-container p {
  font-size: .65rem;
  width: 70%;
  margin: 0px 15%;
  padding-bottom: 15px;
  color: hsl(246, 25%, 77%);
}

#form-container a {
  text-decoration: none;
}

footer .attribution {
  font-size: .5rem;
}

footer a {
  text-decoration: none;
  color: white;
}




@media all and (min-width: 1200px) {
  /** Desktop Styles Here **/
#intro {
  width: 40%;
}

#header {
  width: 40%;
}
#form-container {
  width: 40%;
}



}
